// Layout
$mobile: 375px;
$desktop: 1440px;

//Typography
$font-xsmall: .6rem;
$font-small: 1rem;
$font-medium: 1.5rem;
$font-large: 2rem; // 32px
$font-xlarge: 2.25rem; // 36px

// border radius
$borderRadius-mobile: 0.3125rem;
$borderRadius: 0.625rem;